.about {
  max-width: 900px;
  padding: 100px 0;
  
  .about-inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    @media screen and (max-width:768px) {
      display: block;
    }
    &--text {
      @media screen and (max-width:768px) {
        margin-bottom: 40px;
      }
      div {
        p {
          line-height: 26px;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 200px));
          gap: 0px 10px;
          padding: 0px;
          margin: 20px 0px 0px;
          overflow: hidden;
          li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;
            font-family: var(--font-mono);
            font-size: var(--fz-xs);
            &:before {
              content: "▹";
              position: absolute;
              left: 0px;
              color: var(--text-1);
              font-size: var(--fz-sm);
              line-height: 12px;
            }
          }
        }
      }
    }
    &--img {
      
      .about-inner--img__wrapper {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        display: block;
        position: relative;
        width: 100%;
        border-radius: var(--border-radius);
        // background-color: var(--text-1);
        display: flex;
        justify-content: center;
        @media screen and (max-width:768px) {
          img{
            max-width: 300px;
          }
        }
        &:before {
          top: 0px;
          left: 0px;
          background-color: var(--navy);
          mix-blend-mode: screen;
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius);
          transition: var(--transition);
        }
        
      }
    }
  }
}
